In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
df = pd.read_csv('Bologna_Italia.csv')
df.head()

,Unnamed: 0,id,scrape_id,last_scraped,source,host_id,host_since,host_response_time,host_response_rate,host_acceptance_rate,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,46352,2.024120e+13,20/12/24,city scrape,467810,28/03/11,within a day,75%,47%,...,4.85,4.84,4.68,NaN,f,2,0,2,0,2.60
1,1,59697,2.024120e+13,20/12/24,city scrape,286688,14/11/10,within a day,50%,50%,...,4.79,4.82,4.66,NaN,f,2,0,2,0,1.64
2,2,85368,2.024120e+13,20/12/24,city scrape,467675,28/03/11,within an hour,86%,73%,...,4.98,4.80,4.82,IT037006C2QKQSH3S7,f,1,1,0,0,0.40
3,3,219878,2.024120e+13,20/12/24,city scrape,1139326,10/09/11,within an hour,100%,95%,...,4.92,4.83,4.78,IT037006C2HQERHOGR,f,2,2,0,0,1.10
4,4,229114,2.024120e+13,20/12/24,city scrape,1196205,22/09/11,within an hour,100%,100%,...,4.95,4.51,4.74,IT037006C2KRRTWGRT,t,1,1,0,0,0.58

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4668 entries, 0 to 4667
Data columns (total 51 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    4668 non-null   int64
 1   id                                            4668 non-null   int64
 2   scrape_id                                     4668 non-null   float64
 3   last_scraped                                  4668 non-null   object
 4   source                                        4668 non-null   object
 5   host_id                                       4668 non-null   int64
 6   host_since                                    4668 non-null   object
 7   host_response_time                            4198 non-null   object
 8   host_response_rate                            4198 non-null   object
 9   host_acceptance_rate                          4454 non-null   object
 10  host_is_superhost                             4517 non-null   object
 11  host_listings_count                           4668 non-null   int64
 12  host_has_profile_pic                          4668 non-null   object
 13  host_identity_verified                        4668 non-null   object
 14  neighbourhood_cleansed                        4668 non-null   object
 15  latitude                                      4668 non-null   float64
 16  longitude                                     4668 non-null   float64
 17  property_type                                 4668 non-null   object
 18  room_type                                     4668 non-null   object
 19  accommodates                                  4668 non-null   int64
 20  bathrooms                                     4260 non-null   float64
 21  bathrooms_text                                4665 non-null   object
 22  bedrooms                                      4594 non-null   float64
 23  beds                                          4258 non-null   float64
 24  amenities                                     4668 non-null   object
 25  price                                         4249 non-null   object
 26  minimum_nights                                4668 non-null   int64
 27  maximum_nights                                4668 non-null   int64
 28  availability_30                               4668 non-null   int64
 29  availability_60                               4668 non-null   int64
 30  availability_90                               4668 non-null   int64
 31  availability_365                              4668 non-null   int64
 32  number_of_reviews                             4668 non-null   int64
 33  number_of_reviews_ltm                         4668 non-null   int64
 34  number_of_reviews_l30d                        4668 non-null   int64
 35  first_review                                  4212 non-null   object
 36  last_review                                   4212 non-null   object
 37  review_scores_rating                          4212 non-null   float64
 38  review_scores_accuracy                        4212 non-null   float64
 39  review_scores_cleanliness                     4212 non-null   float64
 40  review_scores_checkin                         4212 non-null   float64
 41  review_scores_communication                   4212 non-null   float64
 42  review_scores_location                        4212 non-null   float64
 43  review_scores_value                           4211 non-null   float64
 44  license                                       3381 non-null   object
 45  instant_bookable                              4668 non-null   object
 46  calculated_host_listings_count                4668 non-null   int64
 47  calculated_host_listings_count_entire_homes   4668 non-null   int64
 48  calculated_host_listings_count_private_rooms  4668 non-null   int64
 49  calculated_host_listings_count_shared_rooms   4668 non-null   int64
 50  reviews_per_month                             4212 non-null   float64
dtypes: float64(14), int64(18), object(19)
memory usage: 1.8+ MB

In [31]:
def valores_nulos(df):
    valores_nulos_cols = df.isnull().sum()
    valores_nulos_df = df.isnull().sum().sum()
    
    return("Valores nulos por columna", valores_nulos_cols,
            "Valores nulos por dataframe", valores_nulos_df)

In [32]:
valores_nulos(df)

('Valores nulos por columna',
 Unnamed: 0                                         0
 id                                                 0
 scrape_id                                          0
 last_scraped                                       0
 source                                             0
 host_id                                            0
 host_since                                         0
 host_response_time                               470
 host_response_rate                               470
 host_acceptance_rate                             214
 host_is_superhost                                151
 host_listings_count                                0
 host_has_profile_pic                               0
 host_identity_verified                             0
 neighbourhood_cleansed                             0
 latitude                                           0
 longitude                                          0
 property_type                                      0
 room_type                                          0
 accommodates                                       0
 bathrooms                                        408
 bathrooms_text                                     3
 bedrooms                                          74
 beds                                             410
 amenities                                          0
 price                                            419
 minimum_nights                                     0
 maximum_nights                                     0
 availability_30                                    0
 availability_60                                    0
 availability_90                                    0
 availability_365                                   0
 number_of_reviews                                  0
 number_of_reviews_ltm                              0
 number_of_reviews_l30d                             0
 first_review                                     456
 last_review                                      456
 review_scores_rating                             456
 review_scores_accuracy                           456
 review_scores_cleanliness                        456
 review_scores_checkin                            456
 review_scores_communication                      456
 review_scores_location                           456
 review_scores_value                              457
 license                                         1287
 instant_bookable                                   0
 calculated_host_listings_count                     0
 calculated_host_listings_count_entire_homes        0
 calculated_host_listings_count_private_rooms       0
 calculated_host_listings_count_shared_rooms        0
 reviews_per_month                                456
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(8467))

In [44]:
def sustitución_nulos(df):
    float_con_nulos = df.select_dtypes(include=['float64','float'])
    float = float_con_nulos.fillna(round(float_con_nulos.median(), 1))

    int_con_nulos = df.select_dtypes(include=['int64','int'])
    int_sin_nulos = int_con_nulos.fillna(round(int_con_nulos.mean(),1))

    object_con_nulos = df.select_dtypes(include=['object'])
    object_sin_nulos = object_con_nulos.fillna(method="ffill")
    object_sin_nulos = object_sin_nulos.fillna(method='bfill')


    #el dataframe no incluye “datetime y category”

    Datos_sin_nulos = pd.concat([float,int_sin_nulos,object_sin_nulos], axis=1)
    
    return(Datos_sin_nulos)

In [45]:
df_sin_nulos=sustitución_nulos(df)
valores_nulos(df_sin_nulos)

/var/folders/3f/t697tbsd4pj71pr0q9ghy2zm0000gn/T/ipykernel_23327/3197321402.py:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  object_sin_nulos = object_con_nulos.fillna(method="ffill")
/var/folders/3f/t697tbsd4pj71pr0q9ghy2zm0000gn/T/ipykernel_23327/3197321402.py:10: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  object_sin_nulos = object_sin_nulos.fillna(method='bfill')

('Valores nulos por columna',
 scrape_id                                       0
 latitude                                        0
 longitude                                       0
 bathrooms                                       0
 bedrooms                                        0
 beds                                            0
 review_scores_rating                            0
 review_scores_accuracy                          0
 review_scores_cleanliness                       0
 review_scores_checkin                           0
 review_scores_communication                     0
 review_scores_location                          0
 review_scores_value                             0
 reviews_per_month                               0
 Unnamed: 0                                      0
 id                                              0
 host_id                                         0
 host_listings_count                             0
 accommodates                                    0
 minimum_nights                                  0
 maximum_nights                                  0
 availability_30                                 0
 availability_60                                 0
 availability_90                                 0
 availability_365                                0
 number_of_reviews                               0
 number_of_reviews_ltm                           0
 number_of_reviews_l30d                          0
 calculated_host_listings_count                  0
 calculated_host_listings_count_entire_homes     0
 calculated_host_listings_count_private_rooms    0
 calculated_host_listings_count_shared_rooms     0
 last_scraped                                    0
 source                                          0
 host_since                                      0
 host_response_time                              0
 host_response_rate                              0
 host_acceptance_rate                            0
 host_is_superhost                               0
 host_has_profile_pic                            0
 host_identity_verified                          0
 neighbourhood_cleansed                          0
 property_type                                   0
 room_type                                       0
 bathrooms_text                                  0
 amenities                                       0
 price                                           0
 first_review                                    0
 last_review                                     0
 license                                         0
 instant_bookable                                0
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(0))

In [46]:
df_sin_nulos.head()

,scrape_id,latitude,longitude,bathrooms,bedrooms,beds,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,...,neighbourhood_cleansed,property_type,room_type,bathrooms_text,amenities,price,first_review,last_review,license,instant_bookable
0,2.024120e+13,44.49163,11.33398,1.0,1.0,1.0,4.73,4.75,4.60,4.83,...,Porto - Saragozza,Private room in rental unit,Private room,1 shared bath,"[""Dining table"", ""Bidet"", ""Microwave"", ""Books ...",$43.00,27/09/10,01/12/24,IT037006C2QKQSH3S7,f
1,2.024120e+13,44.48817,11.34124,1.0,1.0,2.0,4.61,4.70,4.67,4.85,...,Santo Stefano,Private room in condo,Private room,1 shared bath,"[""Dining table"", ""Bidet"", ""Clothing storage: c...",$50.00,03/12/12,07/02/22,IT037006C2QKQSH3S7,f
2,2.024120e+13,44.47888,11.35625,2.0,2.0,5.0,4.91,4.92,4.84,4.98,...,Santo Stefano,Entire rental unit,Entire home/apt,2 baths,"[""Shampoo"", ""Hangers"", ""Essentials"", ""Kitchen""...",$120.00,21/03/12,10/11/24,IT037006C2QKQSH3S7,f
3,2.024120e+13,44.48787,11.35392,1.0,1.0,1.0,4.84,4.91,4.94,4.89,...,Santo Stefano,Entire rental unit,Entire home/apt,1 bath,"[""Zoppas refrigerator"", ""TV"", ""Wine glasses"", ...",$145.00,21/10/11,10/11/24,IT037006C2HQERHOGR,f
4,2.024120e+13,44.51072,11.34957,1.0,1.0,4.0,4.84,4.91,4.92,4.95,...,Navile,Entire rental unit,Entire home/apt,1 bath,"[""Wine glasses"", ""Dining table"", ""Bidet"", ""Clo...",$132.00,22/10/12,03/11/24,IT037006C2KRRTWGRT,t

In [47]:
df_sin_nulos.to_csv('Bologna_Italia_sin_nulos.csv')